.main {
    display: flex;
    flex-direction: column;
    background: var(--light);
    padding: var(--spacing-xs);
    gap: var(--spacing-xs);
    font-size: var(--font-xs);
}
.linksContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
}