@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  /* Sizing */
  --max-width-1: 1440px;
  --max-width-2: 1200px;
  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 15px;
  --radius-lg: 20px;
  --radius-xl: 25px;
  --border-xs: 1px;
  --border-sm: 2px;
  --border-md: 3px;
  --border-lg: 4px;
  --border-xl: 5px;
  /* Spacing */
  --spacing-xxs: 5px;
  --spacing-xs: 10px;
  --spacing-sm: 15px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 40px;
  --spacing-xxl: 50px;
  --spacing-xxxl: 100px;
  /* Font */
  --default-font-size: 100%;
  --font-xs: 0.8rem;
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 3rem;
  --font-xxl: 5rem;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  /* Colors */
  --primary: #FF9900;
  --secondary: #FF0000;
  --dark: #000000;
  --dark-2: #150F06;
  --light: #FFFFFF;
  --light-2: #bdbdbd;
  --gradOne: linear-gradient(
      225deg, 
      rgba(255, 230, 226, 1) 0%,
      rgba(255, 255, 255, 0.65) 50%, 
      rgba(216, 216, 216, 0) 100%
  );
  --gradTwo: linear-gradient(
      315deg, 
      rgba(255, 238, 206, 1) 0%,
      rgba(255, 255, 255, 0.6) 50%, 
      rgba(255, 255, 255, 0) 100%
  );
  --gradThree: linear-gradient(
      135deg, 
      rgba(217, 217, 217, 0) 0%,
      rgba(232, 186, 186, 0.5) 80%, 
      rgba(246, 154, 154, 1) 100%
  );
  --opacity-bg: 0.2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-dm-sans);
  font-size: var(--default-font-size);
  scroll-behavior: smooth;
}

body {
  color: var(--dark-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
input::placeholder, textarea::placeholder {
  color: var(--dark-2);
  opacity: 0.5;
}
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
/* fade-in */

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}