.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-xs);
    color: var(--dark-2);
    animation: leftToRight 0.5s ease-in-out;
    margin: auto;
    width: 100%;
}
.inputContainer label {
    padding-left: var(--spacing-xxs);
    text-align: left;
    width: 100%;
}
.inputContainer input, .inputContainer textarea {
    padding: var(--spacing-xs);
    border: var(--border-xs) dashed var(--light-2);
    outline: none;
    transition: 0.3s ease-in-out;
    width: 100%;
    resize: vertical;
}
.inputContainer input:focus, .inputContainer textarea:focus {
    border: var(--border-xs) dashed var(--primary);
    transition: 0.3s ease-in-out;
}
.varSpan {
    grid-column: span 1;
}
.radioContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    width: 100%;
}
.radioOption input[type="radio"] {
    display: none;
}
.radioOption label {
    font-size: var(--font-size-sm);
    cursor: pointer;
}
.radioOption input[type="radio"] + label {
    display: inline-block;
    border: var(--border-sm) solid var(--light-gray);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-xs);
    min-width: 130px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.radioOption input[type="radio"]:hover + label {
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.radioOption input[type="radio"]:checked + label {
    background: var(--dark-red);
    color: var(--cream);
    transition: 0.3s ease-in-out;
}
.switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    width: 100%;
    padding: var(--spacing-lg) 0;
}
.switchContainer button {
    width: 150px;
    font-size: var(--font-size-sm);
}
.switchError button {
    border: var(--border-xs) solid var(--red-pink);
}
@media (hover: none) {
    .radioOption input[type="radio"]:hover + label{
      opacity: var(--bg-opacity);
    }
  }
@media (max-width: 700px) {
    .inputContainer {
        row-gap: var(--spacing-xs);
    }
    .varSpan {
        grid-column: span 2;
    }
    .inputContainer {
        max-width: 100%;
    }
    .inputContainer small {
        font-size: var(--font-size-xs);
    }
}
@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}