.backOne {
    width: 100%;
    flex-grow: 1;
    background-image: url('../images/back_two.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    animation: up 0.8s ease-in-out;
    min-height: 350px;
}
.circleOne {
    position: fixed;
    width: 200px;
    height: 200px;
    top: calc(15% - 100px);
    right: calc(35% - 100px);
    border-radius: 50%;
    border: var(--border-xs) dashed var(--light-2);
    z-index: -1;
    animation: rightToLeft 0.8s ease-in-out;
    opacity: var(--opacity-bg);
}
.circleTwoOutside {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 30%;
    right: 25%;
    margin-top: -25px;
    margin-right: -25px;
    border-radius: 50%;
    border: var(--border-xl) solid var(--dark-2);
    background: rgba(0, 0, 0, 0);
    animation: rightToLeft 0.8s ease-in-out;
    z-index: -1;
    opacity: var(--opacity-bg);
}
.circleTwoInside {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--border-xl) solid var(--light);
    background: var(--secondary);
}
.backTwo {
    position: fixed;
    width: 35%;
    height: 30%;
    top: 0;
    right: 0;
    border-left: var(--border-xs) dashed var(--light-2);
    border-bottom: var(--border-xs) dashed var(--light-2);
    background: var(--gradOne);
    z-index: -2;
    animation: rightToLeft 0.8s ease-in-out;
    opacity: var(--opacity-bg);
}
.backThree {
    position: fixed;
    width: 25%;
    height: 30%;
    top: 20%;
    right: 0;
    border-left: var(--border-xs) dashed var(--light-2);
    border-bottom: var(--border-xs) dashed var(--light-2);
    border-top: var(--border-xs) dashed var(--light-2);
    background: var(--gradTwo);
    z-index: -1;
    animation: rightToLeft 0.8s ease-in-out;
    opacity: var(--opacity-bg);
}
.backFour {
    position: fixed;
    width: 35%;
    height: 60%;
    bottom: 0;
    right: 0;
    border-left: var(--border-xs) dashed var(--light-2);
    border-top: var(--border-xs) dashed var(--light-2);
    border-bottom: var(--border-xs) dashed var(--light-2);
    background: var(--gradThree);
    z-index: -2;
    opacity: var(--opacity-bg);
    animation: rightToLeft 0.8s ease-in-out;
}
.backFive {
    position: fixed;
    width: 65%;
    height: 15%;
    top: 0;
    left: 0;
    border-bottom: var(--border-xs) dashed var(--light-2);
    background: var(--gradone);
    z-index: -2;
    opacity: var(--opacity-bg);
    animation: rightToLeft 0.8s ease-in-out;
}
/* Mobile */
@media (max-width: 768px) {
    .circleOne {
        width: 150px;
        height: 150px;
        right: calc(40% - 75px);
        top: calc(10% - 75px);
    }
    .backFive {
        width: 60%;
        height: 10%
    }
    .circleTwoOutside {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-right: -15px;
        right: 30%;
        border: var(--border-md) solid var(--dark-2);
    }
    .circleTwoInside {
        width: 20px;
        height: 20px;
        border: var(--border-xs) solid var(--light);
    }
    .backTwo {
        width: 40%;
    }
    .backThree {
        width: 30%;
    }
    .backFour {
        width: 40%;
    }
}
@keyframes up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: var(--opacity-bg);
    }
}