.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xxl);
    padding-top: calc(var(--spacing-xxl)*4);
}
.main {
    max-width: var(--max-width-2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-xxxl);
}
.main p {
    font-size: 1.5rem;
}
.main a {
    font-weight: var(--font-weight-semi-bold);
    text-decoration: underline;
}
/* Mobile */
@media screen and (max-width: 700px) {
    .main {
        gap: var(--spacing-xxl);
    }
    .mainContainer {
        padding: var(--spacing-md);
        padding-top: calc(var(--spacing-lg)*4);
    }
    .main p {
        font-size: 1rem;
    }
    .main img {
        width: 300px;
        height: fit-content;
    }
}