.nav {
    position: fixed;
    top: var(--spacing-md);
    left: var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-2);
    z-index: 1;
    gap: var(--spacing-xxl);
    border: var(--border-xs) solid var(--light-2);
    border-radius: var(--radius-md);
    padding: var(--spacing-xxs) var(--spacing-sm) var(--spacing-xxs) var(--spacing-xs);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: var(--spacing-md);
    font-size: var(--font-xs);
    font-weight: var(--font-weight-semi-bold);
}