.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.backOne {
    width: 100%;
    flex-grow: 1;
    background-image: url('../images/back_one.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}